habitable_planets/images/.ipynb_checkpoints/HabPlanetsScaled-checkpoint.png
habitable_planets/.ipynb_checkpoints/two-body-checkpoint.py
habitable_planets/.ipynb_checkpoints/simple_neural_network_project-checkpoint.ipynb
habitable_planets/.ipynb_checkpoints/HabPlanetskNN-checkpoint.ipynb
.ipynb_checkpoints/simple_neural_network_project-checkpoint.ipynb
habitable_planets/images/.ipynb_checkpoints/Loss-checkpoint.png
Machine Learning for Physics and Astronomy alias
habitable_planets/.ipynb_checkpoints/HPLearningSet-checkpoint.ipynb
habitable_planets/.ipynb_checkpoints/Intro_kNN_HabPlanets-checkpoint.ipynb
habitable_planets/.ipynb_checkpoints/Intro_kNN_HabPlanets-ORIGINAL-checkpoint.ipynb
habitable_planets/images/.ipynb_checkpoints/HabPlanetsKNNscaled-checkpoint.png
