habitable_planets/images/.ipynb_checkpoints/HabPlanetsScaled-checkpoint.png
habitable_planets/.ipynb_checkpoints/two-body-checkpoint.py
habitable_planets/.ipynb_checkpoints/simple_neural_network_project-checkpoint.ipynb
habitable_planets/.ipynb_checkpoints/HabPlanetskNN-checkpoint.ipynb
